<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jioon.deploy_project.mapper.ProjectMapper">

    <insert id="insertProject" parameterType="com.jioon.deploy_project.DTO.projectDTO">
        INSERT INTO ezdeploy.projects (
            userid,
            projectname, 
            projectdescription, 
            projecttag, 
            projectversion,
            dockerfile, 
            buildfile
            ) 
        VALUES (
            #{userId}, 
            #{projectName}, 
            #{projectDescription}, 
            #{projectTag}, 
            #{projectVersion},
            #{dockerfile}, 
            #{buildfile})
    </insert>

    <select id="getProjectList" parameterType="String" resultType="com.jioon.deploy_project.DTO.projectDTO">
        SELECT * FROM ezdeploy.projects WHERE userid = #{userId}
    </select>

    <delete id="deleteProject" parameterType="int">
        delete from ezdeploy.projects WHERE projectid = #{projectId}
    </delete>

    <update id="updateProject" parameterType="int">
        update ezdeploy.projects
        set 
            projectname = #{projectName},
            projectdescription = #{projectDescription}
            projecttag = #{projectTag}
            projectversion = #{projectVersion}
            dockerfile = #{projectDockerfile}
            buildfile = #{projectBuildfile}
        where projectid = #{projectId}
    </update>

    <select id="getAllProject" resultType="List">
        select count(*) from ezdeploy.projects
    </select>

    <select id="getProject" parameterType="int" resultType="com.jioon.deploy_project.DTO.projectDTO">
        select * from ezdeploy.projects where projectid = #{projectId}
    </select>


</mapper>
